<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Students</title>
</head>
<body>
	<form action="">
		<table>
			<tr>
				<td>Student Name</td>
				<td><input type="text" name="student"></td>
			</tr>
			<tr>
				<td>Class</td>
				<td><input type="text" name="class"></td>
			</tr>
			<tr>
				<td>Phone</td>
				<td><input type="text" name="phone"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>